<ion-view view-title="Signup">
  <ion-content>
    <div class="padding" ng-controller="LoginController as loginController">
      <form ng-submit="loginController.signupEmail()">
        <input type="text" placeholder="enter your email here" ng-model="loginController.email">
        <input type="password" placeholder="enter your WonderField password here" ng-model="loginController.password">
        <input class="btn-primary" type="submit" value="signup">
      </form>
    </div>
  </ion-content>
</ion-view>
